/*Fuente del header*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/*Fuente del texto*/
@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;700&display=swap');
*{
margin:0;
box-sizing:border-box;
}

body {
background-image:url("img/background-calculator.jpg");
color:#ffee58;
display:grid;
place-content: center;
font-family: 'Golos Text', sans-serif;
}
/*Barra de navegación*/
.nav-bar {
display:flex;
background: #00000096;
margin: 2px;
padding: 3px;
border-radius: 4px;
width: 100%;
justify-content: end;
}
.nav-items{
  display: flex;
  gap: 15px;
}
li {
list-style:none;
}
a.enlace-navbar{
  text-decoration: none;
  color: white; 
  font-weight: 700;
  transition:0.2s;
}
a.enlace-navbar:hover {
color:lightblue;

}
/*Titulo*/
header {
font-family:'Bebas Neue', cursive;
height: 154px;
padding: 25px 10px;
text-align: center;
}
/*Formulario*/
form{
  height: max-content;
  display: flex;
  flex-direction: column;
  font-size: 1.25em;
  margin: 20px 10px;
  padding: 0 16px;
}
fieldset{
  width: 100%;
  margin: 15px 5px;
  padding: 25px 5px;
  text-align: center;
}
legend{
  width:100%;
  font-size: 1.4em;
  text-align: center;
  font-weight: 700;
}
input {
font-family: 'Golos Text', sans-serif;
text-align:center;
}
label {
display:block;
font-weight:700;
}
#sumar {
background-color: #636f7e;
border: none;
border-radius: 5px;
color: white;
font-size: 1em;
padding: 4px;
transition:.7s;
}
#sumar:hover {
background-color: #939310;
text-transform: uppercase;
}
#resultado{
  background: #8080809e;
  padding: 7px 0;
  font-size: 1.5em;
  border: none;
  font-weight: 700;
margin-top:10px;
}

/*Elimina los botones del input number*/
input[type=number] {
        -moz-appearance: textfield;
        /* Firefox */
      }
/*Aclaración*/
p {
width: 100%;
margin: 2px; 
padding: 3px 2px;
background-color: #8395a8b0;
text-align: center;
border-radius: 20px;
}
.parrafo1 {
color: #9d1515;
margin-bottom: 10px;
}
.parrafo2 {
color:#082f08;
text-shadow: 2px 2px 2px #D54C24;
}
a.enlace-extras{
color:white;
transition:0.5s;
text-decoration:none;
}
a.enlace-extras:hover {
color:yellow;
}
/*Responsive para dispositivos móviles*/
@media screen and (max-width:456px) {
body {
  background-image: url("img/background-calculator.jpg");
  color: #ffee58;
  font-size:15px;
  font-family: 'Golos Text', sans-serif;
  display: flex;
  flex-direction:column;
}
  .nav-bar{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
  .nav-items{
  display: flex;
  width: min-content;
  font-size: 1rem;
  align-items: center;
  gap: 30px;
}
.titulo-principal {
font-size:3em;
}
header h2 {
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 1.5em;
  flex-wrap: wrap;
  padding-top: 10px;
  padding-right: 2px;
}
label {
  display: block;
  font-weight: 700;
  padding-top: 10px;
}
}

